prefix=~/.local/
fund=false # do not show packages looking for funding message
ignore-scripts=true # dont run postinstall scripts
min-release-age=1 # only install packages that are at least 1 day old

